<!--

    Copyright (c) 2012-2016 Codenvy, S.A.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
      Codenvy, S.A. - initial API and implementation

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd

      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:annotation-config/>

    <bean id="everrest.dependencies" class="org.everrest.spring.SpringDependencySupplier"/>
    <bean id="everrest.resources" class="org.everrest.core.impl.ResourceBinderImpl"/>
    <bean id="everrest.providers" class="org.everrest.core.impl.ApplicationProviderBinder"/>
    <bean id="everrest.configuration" class="org.everrest.core.impl.EverrestConfiguration"/>

    <bean class="org.everrest.spring.SpringComponentsLoader">
        <constructor-arg ref="everrest.resources"/>
        <constructor-arg ref="everrest.providers"/>
        <constructor-arg ref="everrest.dependencies"/>
        <constructor-arg ref="everrest.configuration"/>
    </bean>

    <bean scope="prototype" class="org.everrest.spring.SpringResourceTest$Resource"/>
    <bean class="org.everrest.spring.SpringResourceTest$MessageProvider"/>

</beans>
