<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <context-param>
      <param-name>org.everrest.exo.container</param-name>
      <param-value>StandaloneContainer</param-value>
   </context-param>
   <listener>
      <listener-class>org.everrest.sample.exoplatform.BookServiceBootstrap</listener-class>
   </listener>
   <servlet>
      <servlet-name>EverrestServlet</servlet-name>
      <servlet-class>org.everrest.core.servlet.EverrestServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>EverrestServlet</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>
</web-app>
